<!DOCTYPE html>
<html lang="en">
<head>
<title>Employee Details</title>
</head>
<body>
  <form>
    <fieldset>
    <legend>Details</legend>
     <p>
         Age: <input type = "text" name = "age" id="age" />
  </p>
<p>
Total Income: <input type = "text" name = "total_income" id="total_income" />
</p>
   <p>
         Gender:  <input type = "radio" name = "gender" value = "male"> Male
         <input type = "radio" name = "gender" value = "female"> Female
         <input type = "radio" name = "gender" value = "other"> Other

  </p>
 
<p>
Utilities Expense: <input type = "text" name = "utilities_expense" id="utilities_expense" />
</p>
 
<p>
Entertainment Expense: <input type = "text" name = "entertainment_expense" id="entertainment_expense" />
</p>
 
<p>
Education/Training Expense: <input type = "text" name = "school_fees_expense" id="school_fees_expense" />
</p>

<p>
Shopping Expense: <input type = "text" name = "shopping_expense" id="shopping_expense" />
</p>

<p>
Healthcare Expense: <input type = "text" name = "healthcare_expense" id="healthcare_expense" />
</p>
 
 <p>
      <input type = "submit" name = "submit" value = "Submit" />
    </p>
</fieldset>
</form>
</body>
</html>
